In [1]:
!jt -r

Reset css and font defaults in:
C:\Users\user\.jupyter\custom &
C:\Users\user\AppData\Roaming\jupyter\nbextensions

In [2]:
import os
import time
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
xy = pd.read_csv("GeneratedDatasets/Energy_20200601_to_20211031_MarketCap=100to3000B.csv")
xy.head()

,Ticker,Date,close,open,high,low,volume,Fundamental.Market Cap,FinTA.Normalized_SMA_5,FinTA.Normalized_SMA_20,...,TAlib.CDLUNIQUE3RIVER,TAlib.CDLUPSIDEGAP2CROWS,TAlib.CDLXSIDEGAP3METHODS,TAlib.BETA_5,TAlib.BETA_14,TAlib.BETA_40,TAlib.BETA_100,Label,Max_increase,Max_decrease
0,CVX,2020-06-01,92.790001,90.940002,93.849998,90.110001,7344000.0,158.8,0.997004,0.988749,...,0,0,0,0.851969,0.988280,0.852117,0.949553,0.0,11.639180,-2.888243
1,CVX,2020-06-02,94.690002,93.779999,95.220001,93.290001,7880300.0,162.0,0.979935,0.970625,...,0,0,0,0.985750,1.027906,0.861466,0.952345,0.0,9.399085,-1.478510
2,CVX,2020-06-03,97.180000,95.970001,97.730003,95.750000,8440200.0,166.3,0.961576,0.947963,...,0,0,0,0.972836,1.057552,0.854960,0.952392,0.0,6.596003,-2.078614
3,CVX,2020-06-04,96.279999,96.779999,96.889999,95.160004,6371700.0,164.7,0.981803,0.960059,...,0,0,0,0.898917,1.091196,0.812496,0.952303,0.0,7.592436,-1.163269
4,CVX,2020-06-05,100.809998,99.080002,102.050003,99.050003,12760100.0,172.5,0.955758,0.920970,...,0,0,0,0.694175,0.917848,0.804881,0.948473,0.0,2.757662,-1.745853

In [13]:
def get_top_abs_correlations_v2(corr_vals):
    keep = np.triu(np.ones(corr_vals.shape), k=1).astype('bool').reshape(corr_vals.size)
    res = corr_vals.abs().unstack()[keep].reset_index()
    res = pd.DataFrame(res).rename(columns={'level_0': 'feature 1', 'level_1': 'feature 2', 0: 'Correlation'})
    
    return res.sort_values(by='Correlation', ascending=False).reset_index(drop=True)

In [19]:
corr_values = xy.iloc[:, 3:].corr(method='pearson')
get_top_abs_correlations_v2(corr_values).head(10)

              feature 1         feature 2  Correlation
0         TAlib.ROCP_10  TAlib.ROCR100_10          1.0
1          TAlib.ROC_10     TAlib.ROCP_10          1.0
2      FinTA.ROC_10_clo     TAlib.ROCP_10          1.0
3   FinTA.14 period RSI      TAlib.RSI_14          1.0
4         TAlib.ROCR_10  TAlib.ROCR100_10          1.0
5          TAlib.ROC_10  TAlib.ROCR100_10          1.0
6   FinTA.14 period RSI      TAlib.CMO_14          1.0
7      FinTA.ROC_10_clo      TAlib.ROC_10          1.0
8      FinTA.ROC_10_clo  TAlib.ROCR100_10          1.0
9  FinTA.14 Williams %R    TAlib.WILLR_14          1.0

In [23]:
xy[['FinTA.14 period RSI', 'TAlib.RSI_14']]# - xy['TAlib.RSI_14']

     FinTA.14 period RSI  TAlib.RSI_14
0              54.440351     54.440351
1              57.253624     57.253624
2              60.680287     60.680287
3              58.844153     58.844153
4              64.643345     64.643345
..                   ...           ...
704            67.782522     67.782522
705            72.014795     72.014795
706            61.955712     61.955712
707            62.548727     62.548727
708            63.099346     63.099346

[709 rows x 2 columns]